# Future Google Calendar phase.
GOOGLE_CALENDAR_NAME="Patinage Montréal"
LOISIRS_SEARCH_STRING="patin"
LOISIRS_EXPERTISE_FIELD_IDS="361"
GOOGLE_CREDENTIALS_FILE="credentials.json"
GOOGLE_TOKEN_FILE="token.json"
